<template name="flexiformsForm">
    <div ng-controller="{{ngController}}">
        <form novalidate name="{{name}}" class="{{class}}">
            <div class="form-inline">
                {{{contents}}}
            </div>
            {{> flexiformsFormButtons }}
        </form>
    </div>
</template>


<!--

<div class="meteor-form-fields">
    <div class="copy-width narrow">
        <div class="fields">
            {{#each fields}}
            <flexiforms-field id="{{id}}"></flexiforms-field>
            {{/each}}
        </div>

                   <span>
                        <div class="c-checkbox c-form-element chk-agree c-root is-enabled is-loaded">
                            <label class="checkbox">
                                <input type="checkbox" data-uid="u22">
                                <span class="c-label">I agree to the <a>terms and conditions</a></span>
                                <span class="c-required">*</span>
                            </label>
                        </div>
                    </span>

        <hr>

        <div class="call-to-action sans ">
            <span class="text">Quick and simple</span>
            <div class="try-button btn-border sans">
                <a type="submit" href="#" class="try-now btn btn-large btn-success " ng-click="saveMe()">Create Now</a>
                <div class="footer-text">Free 40-day trial. No credit card required.</div>
            </div>
        </div>
    </div>
</div>

-->