<template name="mffAutoform">
    <div>
        <div class="mff-auto-form">
            <mff-form name="{{getFormName getElement}}" novalidate="" mainform="{{model}}" class="{{getFormClass getElement}}" ng-controller="{{getControllerName getElement}}" >
                <div class="meteor-form-fields">
                    <div class="copy-width narrow">
                        {{#if model}}
                            <mff-field-group name="{{formTitle}}">
                                    <input type="hidden" name="model" value="{{model}}"/>
                                    {{#each getModelFields model }}
                                        {{> mffAutoformElementTemplate }}
                                    {{/each}}
                            </mff-field-group>
                        {{else}}
                            <input type="hidden" name="field" value="{{field}}"/>
                            {{#each getFieldFields field unwrapped }}
                                {{> mffAutoformElementTemplate }}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </mff-form>
        </div>
    </div>
</template>
