<template name="sgiSelectField">
    <div class="form-group" >
        <label for="[[field.name]]">
            [[field.label]]
        </label>
        <div class="input-group" style="border: solid 1px #b3b3b3;">
            <span class="input-group-addon" ng-if="field.prefix">
                [[field.prefix]]
            </span>
            <select ng-model="{{modelId}}" name="{{name}}" ng-required="{{validation.required.value}}" class="form-control" ng-options="opt.{{options.label}} group by opt.{{options.group}} for opt in options" title="[[field.message]]"></select>
        </div>
        <div class="error" ng-if="showErrorMessageFor('required')"><span class="error" ng-show="{{formName}}.{{name}}.$dirty && {{formName}}.{{name}}.$error.required">[[field.validation.required.message || 'Please enter a value!']]</span></div>
    </div>
</template>