<template name="mffTextField">
    <div class="form-group{{mffInline}}" >

        {{#if shouldShowLabel}}
        <label for="{{fieldId}}">
            [[field.label]]
        </label>
        {{/if}}
        <div class="input-group" style="border: solid 1px #b3b3b3;">
            <span class="input-group-addon" ng-if="field.prefix">
                [[field.prefix]]
            </span>
            <input type="{{type}}" ng-model="{{modelId}}" ng-model-options="{allowInvalid: true}" class="form-control" name="{{fieldId}}" placeholder="[[field.placeholder]]" ng-maxlength="[[field.getValidationOfType('maxlength').value]]" ng-minlength="[[field.getValidationOfType('minlength').value]]" ng-pattern="[[field.getValidationOfType('pattern').value]]" ng-required="[[field.getValidationOfType('required').value]]" min="{{getMinValue this}}" max="{{getMaxValue this}}" title="[[field.message]]" >
            <span class="input-group-addon" ng-if="field.suffix">
                [[field.suffix]]
            </span>
        </div>
        {{> mffFieldValidations}}
    </div>
</template>


        <!-- Notes: min and max are only good for number, time, date, datetime -->