<template name="sgiAutoform">
    <div>
        <div class="sgi-auto-form">
            <sgi-form name="[[formName]]" novalidate="" mainform="[[flexiModelname]]" class="[[formClass]]" replaceme >
                <div class="meteor-form-fields">
                    <div class="copy-width narrow">
                        {{#if model}}
                            <sgi-field-group name="{{formTitle}}">
                                    <input type="hidden" name="model" value="{{model}}"/>
                                    {{#each getModelFields model }}
                                        {{> sgiAutoformElementTemplate }}
                                    {{/each}}
                            </sgi-field-group>
                        {{else}}
                            <input type="hidden" name="field" value="{{field}}"/>
                            {{#each getFieldFields field unwrapped }}
                                {{> sgiAutoformElementTemplate }}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </sgi-form>
        </div>
    </div>
</template>
