<template name="mffCollectionField">
    <div>
        <mff-field-group class="mff-collection-field" name="[[field.label]]">
            <div>
                <div class="mff-collection-add-button">
                    <button ng-click="addModel(collection, $event)"><i class="fa fa-plus-square"></i><!--<span class="glyphicon glyphicon-plus"></span> --></button>
                </div>
                <div>Click the '+' to add a new one</div>
                <div ng-show="hasAvailableCollection(collection)" class="mff-collection-selection-list">

                    <div class="collection-selection-row" ng-repeat="item in collection">
                        <div class="span12 mff-collection-selection-item-row" ng-class="{selected: isSelectedRow($index), invalid: isInvalidRow($index)}" ng-click="switchModel($index, $event)"><div class="span11">[[getDisplayString(item, false, $index, myIndex, "{{modelId}}", field)]]</div><div ng-click="removeModel($index)" class="span1 mff-collection-selection-item-remove-button"><i class="fa fa-trash-o"></i></div></div>
                    </div>
                </div>
            </div>

            <hr ng-if="collection.length">
            <div class="mff-new-model" ng-show="collection.length">
                <div ng-show="myIndex != null">
                    <mff-autoform class="mff-collection-field-new-model" field="{{id}}" unwrapped="true"></mff-autoform>
                </div>

                <div ng-show="myIndex == null && collection.length">Click an item in the list above to edit</div>

            </div>
           {{> mffFieldValidations }}

        </mff-field-group>
    </div>
</template>