<template name="sgiCollectionField">
    <div>
    <sgi-field-group class="sgi-collection-field" name="[[field.label]]">
        <div>
            <div class="sgi-collection-add-button">
                <button ng-click="addModel(collection, $event)">+</button>
            </div>
            <div ng-repeat="item in collection">
                <div ng-click="switchModel($index, $event)">[[this.getDisplayString(item)]]</div>
            </div>
        </div>
        <hr>
        <div class="sgi-new-model">
            <div ng-show="myIndex != null">
                <sgi-autoform class="sgi-collection-field-new-model" field="{{id}}" unwrapped="true"></sgi-autoform>
            </div>

            <div ng-show="myIndex == null">Click an item in the list above to edit</div>
        </div>

    </sgi-field-group>
    </div>
</template>