.login-image {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 7px
}

div.radio-group {
  width: 100%;
  input {
    margin-right: 5px;
  };
  label {
    padding-right: 10px;
  }
}

.input-group {
  width: 100%;
  border-radius: 4px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px !important;
}

fieldset {
  padding: 0px 14px 14px 14px;
  border: 1px solid #2DCC70 !important;
  background: #ECFFEF;
  padding: 10px;

  legend {
    padding: 2px 4px;
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    border: 1px solid #2DCC70 !important;
    background: #C0F3C0;
    color: #268D51 !important;
    // font-weight: 700 !important;
    font-size: 18px;
  }

  label {
    color: #268D51 !important;
    // font-weight: 700 !important;
  }

  div.vertical {
    div {
      display: block !important;
    }
  };

  .radio-group {
    padding: 3px 4px 8px 11px !important;
    border: solid 2px rgba(179, 179, 179, 0.85) !important;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    .radio {
      label {
        font-weight: normal !important;
      }
    }
  }

  div.focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }

  fieldset {
    border: 1px solid #deded8 !important;
    background: #f7fff7;
    padding: 0px 14px 14px 14px;
    margin: 0px 10px 10px 10px;

    legend {
      padding: 0px 4px 0px 4px !important;
      margin-left: -1px;
      margin-right: 0px;
      width: auto;
      border: 1px solid #deded8 !important;
      background: #ECFFEF;
      color: #268D51 !important;
      font-weight: 500 !important;
      font-size: 16px;
    }
  }

  .checkbox input[type="checkbox"] {
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    margin-right: 2px;
  }

}

.form-inline select.form-control {
  width: 100%;
}

.daterangepicker .ranges .input-mini {
  width: 80px;
}

.daterangepicker .ranges {
  width: 178px;
}

div.sgi-inline-flex {
  display: inline-flex !important;
  width: auto;
}

div.inline {
  display: inline-flex !important;
  width: auto;
  margin-right: 10px;
  div {
    display: inline-flex;
    width: auto;
  };
  fieldset div.inline {
    margin-right: 10px;
    div.input-group {
      width: auto;
      display: inline-flex;
      input {
        width: auto;
      };
    };
    div.sgi-inline-flex {
      display: inline-flex;
    };
  };
}

div#xxx {
  width: 100%;
  padding-left: 445px;
}

.sgi-new-model {
  margin-top: 50px;
}

.sgi-collection-field{
  hr {
    position: relative;
  };
  ng-form .copy-width.narrow.ng-scope{
    margin: 0px !important;
  }
  .sgi-collection-add-button{
    float: right;
    margin-right: -15px;
  };
  margin-top: 25px;
  fieldset {
    legend {
      font-size: 14px;
      margin-left: -25px;
      border: none !important;
      margin-top: -31px !important;
      position: absolute;
      font-weight: bold !important;
    }
  }
}